# R Coding Pratice and Sytax
I used this [article](https://richpauloo.github.io/2018-05-16-Installing-the-R-kernel-in-Jupyter-Lab/) to help install R in so that it can be used in Jupter Lab.

In [ ]:
R can perform basic mathmatic operation and will display the result when run.

In [16]:
# Addition 
2 + 2
# Multiplication
2 * 5

In [27]:
# Assignment
number <- 2 + 2
# Vector Assignment
coffees <- c(2,1,2,3,1,2,0,2,3,1)
# Element-Wise Operation
adjusted_coffees <- coffees * 1.2
# Convert to Dataframe
coffee_data <- data.frame(coffees, adjusted_coffees)
# Index Access (Starting at 1 instead of 0)
# [Row, Column]
coffee_data[1, ]
# Access Column using name 
# Access dataframe coffee data and the column coffees
coffee_data$coffees

  coffees adjusted_coffees
1 2       2.4

 [1] 2 1 2 3 1 2 0 2 3 1

# R functions
sum(n,...n_n) - Sum of all values

base:: - R function location. Can be used to find valid functions
library::function_name - Without (), R will state the purpose of the function.

In [41]:
# Request more information from the function when run without ()
sum # base::sum

# Sum of 1, 2 and 4
sum(1,2,4) # base::sum(1, 2, 3)

function (..., na.rm = FALSE)  .Primitive("sum")

[1] 7

## Custom Functions
Create custom function for personal use.

name_of_function <- function () {}

In [47]:
# Example Function
convert_f_to_c <- function(farh_number)   # function_name <- function_declaration (
    {
         celc <- (farh_number - 32) / 1.8    # New varaible uses inputed number minus 32 and then 1.8
         celc    # Dsiplay the variable 
    }

In [48]:
convert_f_to_c(10)

[1] -12.22222

In [2]:
tid

ERROR: Error in library(dplyr): there is no package called 'dplyr'